{{!--
CAMPSITE
Add secondary navigation items in the admin to add Font Awesome icons.
The label is the icon name (lowercase, case sensitive)
https://fontawesome.com/v4.7.0/icons/
--}}
{{#if isSecondary}}
  {{#foreach navigation}}
      <a class="social-link social-link-fa" href="{{url absolute="true"}}" title="{{label}}" target="_blank" rel="noopener"><i class="fa fa-{{label}}" aria-hidden="true"></i></a>
  {{/foreach}}
{{else}}
    <ul class="nav" role="menu">
        {{#foreach navigation}}
          {{#unless @index}}
            {{!-- CAMPSITE show first nav link as primary button --}}
            <li class="{{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem"><a class="btn btn-primary box-shadow-1" href="{{url absolute="true"}}">{{label}}</a></li>
          {{else}}
            <li class="{{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem"><a href="{{url absolute="true"}}">{{label}}</a></li>
          {{/unless}}
        {{/foreach}}
    </ul>
{{/if}}
