<ul class="nav navigation-ul" role="menu">
    {{#foreach navigation}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}} nav-item-{{@index}}" role="menuitem"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
</ul>
<div class="nav navigation-fa" role="menu">
    {{#foreach navigation}}
      <a class="social-link social-link-fa nav-item-{{@index}}" href="{{url absolute="true"}}" title="{{label}}" target="_blank" rel="noopener"><i class="fa fa-{{label}}" aria-hidden="true"></i></a>
    {{/foreach}}
</div>
<div class="nav navigation-btn" role="menu">
    {{#foreach navigation}}
      {{#unless @index}}
        <a class="social-link-btn btn btn-primary nav-item-{{@index}}" href="{{url absolute="true"}}" title="{{label}}" target="_blank" rel="noopener">{{label}}</a>
      {{/unless}}
    {{/foreach}}
</div>
